body {
background-color:white;
}
div.d9 {
float:left;
opacity: 1;
margin:auto;
}
div.transbox {
width:4cm;
height:4cm;
margin:1cm 1cm;
background-color:grey;
opacity: 0.6;
}
div.transbox p {
font-size:22px;
margin:5%;
font-weight:bold;
color:#000000;
text-shadow:4px 4px 8px yellow;
}
div.background {
background-image:url("/home/itsec4/Downloads/pu3.jpg");
height:500px;
width:1700px;
background-repeat:no-repeat;
background-size:70% 100%
}
ul {
height:1cm;
list-style-type:none;
overflow:hidden;
background-color:grey;
margin:250px 50px 0px;
}
li {
float:left;
}
li a {
display:inline;
color:white;
text-align: center;
padding:14px 14px;
text-decoration:none;
}
li a:hover {
background-color:#999;
}
#d2 {
float:left;
background-color:white;
height:500px;
width:1250px;
}
#d3 {
margin:3cm 0cm 5cm 1cm; 
float:left;
background-color:lightblue;
}
#d4 { 
overflow:hidden;
margin:3cm 0cm 5cm 1cm; 
float:left;
background-color:lightblue;
pre::first-letter {
color:red;
font-size:10px;
}
pre {
font-size:small;
}
img.s {
opacity: 0.5;
}
img.s:hover {
opacity:0.6;
}


